.banner-card{
    width: 100%;
    border: yellow;
    border-radius: 6px;
    display: flex;
    flex: 1;
    color: black;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.banner-card-title{
    flex-grow: 1;
}

@media screen and (max-width: 800px) {
    .banner-card{
        flex-direction: column;
        padding-left: 0px;
    }
    .banner-card-title{
        text-align: center;
    }
    .banner-card-image{
        flex: 1;
    }
}